.form_and_img{
    max-width: 1191px;
    width: 100%;
    margin: auto;
}
.form_and_img .row{
    justify-content: center;
}
.checkout_form {
    display: grid;
    margin-bottom: 163px;
}
.checkout_form label{
    margin-bottom: 8px ;
}

.checkout_form input, .checkout_form select{
    border: 1px solid rgba(37, 48, 108, 0.4);
    border-radius: 8px;
    padding: 9px 16px;
    margin-bottom: 32px;
}

.long_button{
    padding: 9px 10px;
    min-width: 300px;
    max-width: 300px;
    width: 100%;
    margin: auto;
}
.title{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

/* logo-color */

color: #25306C;
margin-top: 20px;
margin-bottom: 8px;

}

.quantity{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.quantity label{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
margin-right: 16px;
/* identical to box height, or 112% */


/* logo-color */

color: #25306C;
}
.add_btn{
    border: none;
    background: #D2E0E7;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px ;
    width: 25%;
}
.counter_btn{
    max-width: 128px;
}
.remove_btn{
    border: none;
    background: #D2E0E7;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px ;
    width: 25%;
}
.counter_btn input{
    border: none;
    width: 50%;
}

select{
    display: flex;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -27 40 67'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M2 5l6 6 5-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right center;
    padding: 12px 15px;
}
.product_img img{
    max-width: 281px;
    width: 100%;
}

.quantity_price{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.quantity_price small{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

/* logo-color */

color: #25306C;

opacity: 0.6;
margin-right: 5px;

}

.quantity_price span{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 100%;
/* identical to box height, or 32px */


/* logo-color */

color: #25306C;

}