*{
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Inter', sans-serif;
    }

    ::-webkit-scrollbar {
      width: 5px;
    }

    @font-face {
      font-family: 'Gilroy';
      src: url(assets/fonts/gilory/Gilroy-ExtraBoldItalic.ttf);
    }


    @font-face {
      font-family: 'Book Antiqua';
      src: url(assets/fonts/book-antiqua/ANTQUAB.TTF);
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(10, 77, 181, .7);
      border-radius: 10px;
      box-shadow: 0px 0px 22px rgb(0 100 255 / 67%);
    }


  .sortable-handler {
    touch-action: none;
  }

  .text-primary{
    color: #89CFF0;
  }

  h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;
    padding: 0;
  }
  .heading_1{
    font-size: 64px;
  }

  .heading_2{
    font-size: 24px;
  }
  .heading_3{
    font-size: 20px;
  }
  .heading_4{
    font-size:18px ;
  }

p{
  font-size: 16px;
}


  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 95%;
  }
  #main{
    overflow: hidden;
    height: 100vh;
  }


  .gap{
    height: 4rem;
  }

  .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border: none;
}


  .left_bar{
    position: absolute;
    width:100%;
    height: 100%;
    background: white;
    z-index: 100;

  }

.left_bar img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 400px;
}



  .spinner-border {
    position: absolute;
    top: 45%;
    left: calc(52% - 20px);
    color: #ffffff;
    z-index: 10000000;
}
  select {
    appearance: none;
  }

  /* Loader Css Ended  */



  /* Navbar css  */
  .navbar{
    /* background-color: transparent !important; */
  }
  .navbar-light .navbar-nav .nav-link{
    margin: 0px 31.5px;
    color: #25306C;
    opacity: 0.6;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
  }

  .btn{
    border: none;
  }

  .btn-primary{
    background: #25306C;
  }

  .btn-light{
    background: rgba(37, 48, 108, 0.1);
    transition: .5s;
  }

  .btn-dark{
    background: #636467;
    border-radius: 8px;
  }


  .btn-light:hover{
    background: rgba(137, 207, 240, 0.5);
    font-weight: bold;
  }
  .btn-secondary{
    background: rgba(137, 207, 240, 0.2);
    border-radius: 8px;
    padding: 10px;
    text-transform: uppercase;
  }  

  .btn-know{
    background: rgba(37, 48, 108, 0.1);
    border: 1px solid rgba(37, 48, 108, 0.2);
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #25306C;
    opacity: 0.6;

  }

  .right_nav .register_btn{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #25306C;
    padding:12.5px ;
    border-radius: 12px;
    margin-right: 12px;
  }

  #hero{

  }
  #hero .container-fluid{
    position: relative;
  }
  #hero .slider_content{
    background-position: center;
    background-repeat: no-repeat;
    background-origin: center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
  }
  #hero .slider_content h2{
    display: none;
  }
#hero .slider_content h4{
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
letter-spacing: 6px;
text-transform: uppercase;
color: #25306C;
margin-bottom: 32px;
}
  #hero .slider_content h1{
    font-family: 'Book Antiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 33px;
  }
  #hero  .slick-dots{
    list-style: none;
  }

  #hero  .slick-dots button{
    text-align: right;
    width: 150px;
    padding: 15px 10px;
    border: none;
    border-right: 3px solid #ffffff;
    background: transparent;
    padding-right: 15px;
    color: white;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    opacity: .6;

  }

  #hero  .slick-active button{
    opacity: 1;
  }


  #hero .slick-dots{
    position: absolute;
    top: 50%;
    right: 3%;;
  }

  #hero .slide_btn{
    background-color: red;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: rgba(37, 48, 108, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 37px;
    padding: 10px 5px;
    position: absolute;
    left: 50%;
    top: 80%;
  }
  #hero .slide_btn svg{
    display: block;
  }
  #hero .slide_btn svg:last-of-type{
    margin-left: 9px;
    margin-top: 5px;
  }

  a.shop_now{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #89CFF0;
    

  }

  a.shop_now svg{
    margin-left: 21px;

  }

  .bounce {
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  #hero .hero_social{
    width: fit-content;
    padding: 5px;
    display: flex;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: rotate(90deg);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    justify-content: center;
    align-items: center;

  }

  #hero .hero_social h4{
    color: white;
  }

  #hero .hero_social svg{
    margin: 0px 15px;
    transform: rotate(-90deg);
  }


  /* #Products code started from here  */

  #products .products_left h2{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #25306C;
margin-bottom: 12px;
  }


  #products .products_left p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #25306C;
    opacity: 0.6;
    max-width: 279px;
    width: 100%;
    margin-bottom: 64px;
        
      }

      .products_img{
        min-height: 490px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: center;
        background-size: cover;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        margin-bottom: 8px;
        
      }
      .products_img:hover .quick_view{
        bottom: 0;

      }

      .product_info{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #25306C;
      }

      .about_product{
        margin-top: 16px;
        margin-bottom: 31px;
      }
      .about_product p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #25306C;
        opacity: 0.6;

      }


      .price small{
        font-size: 14px;
        margin-right: 15px;
      }
      .price{
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
        margin-top: 8px;
      }
      
      .btn-light{
        background: rgba(137, 207, 240, 0.2);
        color: #25306C;
        opacity: 0.6;
        text-align: center;
        text-transform: uppercase;
        width: 277px;

      }

      .quick_view{
        background-color: #8e9fc9;
        text-align: center;
        padding: 10px 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position: absolute;
        bottom: -50px;
        width: 100%;
        transition: 1s;

      }
      .quick_view a {
        text-decoration: none;
        color: white;
        
      }
      

      /* alkaline_info started  */
      #alkaline_info{

      }

      #alkaline_info h1{
        max-width: 1168px;
        margin: auto;
        text-align: center;
        font-weight: 700;
        font-size: 64px;
        line-height: 68px;
        /* or 106% */
        text-align: center;
        color: #89CFF0;
        margin-bottom: 41px;
      }


    
      .alkalaine_bg{
        min-height: 693px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: center;
        background-size: cover;
      }

      #alkaline_info .info_left{
        max-width: 872px;
        margin: auto;
      }
      #alkaline_info .info_left{
        display: flex;
      }

      #alkaline_info .info_left .info_passage{
        max-width: 416px;
        padding:36px 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #25306C;
        opacity: 0.6;

      }


      #alkaline_info .info_left .info_list{
        max-width: 416px;
        padding:36px 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        color: #25306C;
        opacity: 0.6;
        
      }

      #alkaline_info .info_left .info_list ol{
        list-style: disc;

      }
      #alkaline_info .info_left h3{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #25306C;
        margin-bottom: 16px;
        opacity: 1;

      }

      .nctb{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #25306C;
        max-width: 819px;
        width: 100%;
        margin: auto;
        display: flex;

      }
  


      /* ABout section started from here  */
      #about h1{
        margin-bottom: 40px;
        color: #89CFF0;
      }

      #about .about_topics{
      background-position: center;
      background-repeat: no-repeat;
      background-origin: center;
      background-size: cover;
      min-height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      
      }

      #about .about_topics h3{
        font-family: 'Book Antiqua';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        max-width: 512px;
        width: 100%;
        margin: auto;
        text-transform: capitalize;
        text-align: center;
        color: #FFFFFF;
      }

      .about_overlay{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 100%;
        align-items: center;
        background: rgba(0, 86, 147, 0.3);
        backdrop-filter: blur(24px);
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0px 44px;
        transition: .7s;
      }

      .about_overlay h3{
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 24px !important;
        line-height: 29px !important;
        text-transform: capitalize !important;
        color: #FFFFFF !important;
        margin-bottom: 30px !important;
      }
      .about_overlay p{
        max-width: 496px;
        margin: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        /* or 186% */

        text-transform: capitalize;

        color: #FFFFFF;
      }

      
      #about .about_topics:hover .about_overlay{
        top: 0%;
      }

      /* #our clients section started  */

      #our_clients h1{
        text-align: center;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 64px;
        line-height: 68px;
        text-align: center;
        color: #89CFF0;
      }

      #our_clients .client_slider{
        display: flex;
        align-items: center;
        height: 126px;
        border-top: 1px solid #e9eaef;
        border-bottom: 1px solid #e9eaef;

      }


      #footer h6{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        color: #25306C;

      }
      .footer_left{
        max-width: 375px;
      }

      .footer_left h6{
        margin-top: 40px;
        margin-bottom: 12px;
      }

      #footer p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #25306C;
        opacity: 0.6;

      }

      #footer a{
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #25306C;
        text-decoration: none;
        margin-bottom: 18px;
        
      }
      #footer .mini_footer_part{
        max-width: 176px;
        margin: auto;
      }



      /* Banner page css ------ */

      .banner_img{
        min-height: 536px;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .banner_img h1{
        max-width: 949px;
        width: 100%;
        font-weight: 800;
        margin: auto;
        text-align: center;
        color: white;
      }

      #banner button{
        margin-top:20px ;
      }

      .filter_btn_active, .filter_btn_active:hover{
        width: fit-content;
        height: 29px;
        left: 192px;
        top: 0px;
        background: #25306C;
        border-radius: 5px;
        padding: 2px 15px;
        color: white;
        text-decoration: none;

      }

      .filter_btn{
        width: fit-content;
        height: 29px;
        left: 192px;
        top: 0px;
        border-radius: 5px;
        padding: 2px 10px;
        color: white;
        background: rgba(37, 48, 108, 0.1);
        color: #25306C;
        opacity: 0.6;
        text-decoration: none;
      }

      .filter_group a {
        margin: 0px 8px;
      }

      .filter_group a {
        margin-bottom: 16px;
        display: inline-flex;
      }


      .filter_group{
        margin-bottom: 48px !important;
        text-align: center;
        max-width: 584px;
        width: 100%;
        margin: auto;
      }

      