

  #hero{
    position: relative;
  }
  #hero .container-fluid{
    position: relative;
  }
  #hero .slider_content{
    background-position: center;
    background-repeat: no-repeat;
    background-origin: center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
  }
  #hero .slider_content h2{
    display: none;
  }
#hero .slider_content h4{
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
letter-spacing: 6px;
text-transform: uppercase;
color: #25306C;
margin-bottom: 32px;
}
  #hero .slider_content h1{
    font-family: 'Book Antiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 33px;
  }
  #hero  .slick-dots{
    list-style: none;
  }

  #hero  .slick-dots button{
    text-align: right;
    width: 150px;
    padding: 15px 10px;
    border: none;
    border-right: 3px solid #ffffff;
    background: transparent;
    padding-right: 15px;
    color: white;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    opacity: .6;

  }

  #hero  .slick-active button{
    opacity: 1;
  }


  #hero .slick-dots{
    position: absolute;
    top: 50%;
    right: 3%;;
  }

  #hero .slide_btn{
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: rgba(37, 48, 108, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 37px;
    padding: 10px 5px;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-25px, 0px);
  }
  #hero .slide_btn svg{
    display: block;
  }
  #hero .slide_btn svg:last-of-type{
    margin-left: 9px;
    margin-top: 5px;
  }

  a.shop_now{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #89CFF0;
    

  }

  a.shop_now svg{
    margin-left: 21px;

  }

  .bounce {
    animation: bounce 4s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  #hero .hero_social{
    width: fit-content;
    padding: 5px;
    display: flex;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: rotate(90deg);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    justify-content: center;
    align-items: center;

  }

  #hero .hero_social h4{
    color: white;
  }

  #hero .hero_social svg{
    margin: 0px 15px;
    transform: rotate(-90deg);
  }


  /* #Products code started from here  */
  #products .col-12{
    margin-bottom: 64px;
  }
  /* .products_house{
    height: 1200px;
    overflow: scroll;
  } */
  .products_house .col-12{
    margin-bottom: 64px;
  }
  .products_house::-webkit-scrollbar {
    display: none;
  }
  #products .products_left h2{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #25306C;
margin-bottom: 12px;
  }


  #products .products_left p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #25306C;
    opacity: 0.6;
    max-width: 279px;
    width: 100%;
    margin-bottom: 64px;
        
      }

      .products_img{
        min-height: 490px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-origin:content-box;
        background-size: cover;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        margin-bottom: 21px;
        
      }
      .products_img:hover .quick_view{
        bottom: 0;

      }

      .product_info{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #25306C;
      }

      .about_product{
        margin-top: 16px;
        margin-bottom: 16px;
      }
      .about_product p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #25306C;
        opacity: 0.6;

      }


      .price small{
        font-size: 16px;
        margin-right: 15px;
      }
      .price{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 8px;
        align-items: center;
      }
      
      .btn-light{
        background: rgba(137, 207, 240, 0.2);
        color: #25306C;
        opacity: 0.6;
        text-align: center;
        text-transform: uppercase;
        max-width: 277px;
        width: 100%;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 14px;
        font-weight: 400;
}

      

      .btn-secondary:hover{
          background: rgba(137, 207, 240, 0.5);
          font-weight: bold;
      }

      .quick_view{
        background-color: #8e9fc9;
        text-align: center;
        padding: 10px 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position: absolute;
        bottom: -50px;
        width: 100%;
        transition: .5s;
        text-decoration: none;
        color: white !important;

      }

      .product_page .products_img {
        min-height: 662px;
      }
      

      /* alkaline_info started  */
      #alkaline_info{

      }

      #alkaline_info h1{
        max-width: 1168px;
        margin: auto;
        text-align: center;
        font-weight: 700;
        font-size: 64px;
        line-height: 68px;
        /* or 106% */
        text-align: center;
        color: #89CFF0;
        margin-bottom: 41px;
      } 


    
      .alkalaine_bg{
        min-height: 693px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: center;
        background-size: contain;
      }

      #alkaline_info .info_left{
        max-width: 872px;
        margin: auto;
      }
      #alkaline_info .info_left{
        display: flex;
      }

      #alkaline_info .info_left .info_passage{
        max-width: 416px;
        padding:36px 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #25306C;
        opacity: 0.6;

      }


      #alkaline_info .info_left .info_list{
        max-width: 416px;
        padding:36px 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        color: #25306C;
        opacity: 0.6;
        margin: auto;
        
      }

      #alkaline_info .info_left .info_list ol{
        list-style: disc;

      }
      #alkaline_info .info_left h3{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #25306C;
        margin-bottom: 16px;
        opacity: 1;
      }

      .nctb{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #25306C;
        width: 100%;
        text-align: center;
      }
  


      /* ABout section started from here  */
      #about h1{
        margin-bottom: 40px;
        color: #89CFF0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 68px;
        text-align: center;
        color: #89CFF0;
        opacity: 0.8;
      }

      #about .about_topics{
      background-position: center;
      background-repeat: no-repeat;
      background-origin: center;
      background-size: cover;
      height:400px ;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      
      }

      #about .about_topics h3{
        font-family: 'Book Antiqua';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        max-width: 512px;
        width: 100%;
        margin: auto;
        text-transform: capitalize;
        text-align: center;
        color: #FFFFFF;
      }

      .about_overlay{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 100%;
        align-items: center;
        background: rgba(0, 86, 147, 0.3);
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0px 44px;
        transition: .7s;
        overflow: hidden;
      }

      .about_overlay h3{
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 24px !important;
        line-height: 29px !important;
        text-transform: capitalize !important;
        color: #FFFFFF !important;
        margin-bottom: 30px !important;
      }
      .about_overlay p{
        max-width: 496px;
        margin: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        /* or 186% */

        text-transform: capitalize;

        color: #FFFFFF;
      }

      
      #about .about_topics:hover .about_overlay{
        top: 0%;
      }

      /* #our clients section started  */

      #our_clients h1{
        text-align: center;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 64px;
        line-height: 68px;
        text-align: center;
        color: #89CFF0;
      }

      #our_clients .client_slider img{
        margin: auto;
        height: 65px;
      }

      #our_clients .client_slider{
        border-top: 1px solid #e9eaef;
        border-bottom: 1px solid #e9eaef;
        padding: 25px 0px;

      }

     
      /* Banner page css ------ */

      .banner_img{
        min-height: 536px;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .banner_img h1{
        max-width: 949px;
        width: 100%;
        font-weight: 800;
        margin: auto;
        text-align: center;
        color: white;
        padding: 0px 15px;
      }

      #banner button{
        margin-top:20px ;
      }
      
      #address{
        max-width: 1061px;
        width: 100%;
        margin: auto;
        
      }

      .addresses{
        max-width: 360px;
        width: 100%;
      }
      .addresses  .country_name{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #25306C;
        text-align: left;

      }

      .addresses .address_details{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #25306C;
        opacity: 0.6;
      }

      #address iframe{
        max-width: 584px;
        width: 100%;
        height: 584px;
      }

      .contatc_options span:last-child{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #25306C;
        opacity: 0.6;
      }


      #contact_form h1{
        margin-bottom: 16px;
      }

      .contact_el{
        max-width:1061px;
        width: 100%;
        margin: auto;
        background: #F4F6FC;
        border-radius: 12px;
        min-height: 460px;
        display: flex;
        align-items: center;
        padding: 25px;
      }

      .contact_el input{
        padding:  10px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px;
      }

      #contact_form form{
        max-width:907px;
        width: 100%;
        margin: auto
      }

      form label{
        margin-bottom: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #25306C;

      }

      form input{
        margin-bottom: 24px;
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.12);
border-radius: 8px;
padding:18px 32px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #25306C;
opacity: 0.4;
      }

      form textarea{
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #25306C;
        opacity: 0.4;
        margin-bottom: 32px;
      }

      form button{
        border-radius: 12px;
        padding-left: 51px;
        padding-right: 51px;
        padding: 10px 51px;
      }




      #privacy h1{
        margin-bottom: 16px;
      }

      #privacy .nav{
        display: inline-block !important;
      }



.privacy_el{
        max-width:842px;
        width: 100%;
        margin: 0px;
        align-items: center;
}

.privacy_el h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  /* identical to box height, or 147% */


  /* logo-color */

  color: #25306C;

}
.para{
  margin-bottom: 40px;
}

.para h2{
  margin-bottom: 32px;
}

.para p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* logo-color */

color: #25306C;

opacity: 0.6;
}


#privacy .nav-item button{
  width: 100%;
  text-align: left;
  padding-left: 40px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #25306C;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 18px;
}


#privacy .nav-item button.active{
  width: 100%;
  text-align: left;
  padding-left: 40px;
  background: #25306C;
  border-radius: 8px;
  color: white;
}





/* ABous us page css */




.about_list .heading_2{
  text-transform: capitalize !important;
}

.about_img img{
  border-radius: 12px;
}

.about .row{
  align-items: center;
}
.about_list .about:nth-of-type(4){
  margin-bottom: 69px;
}

.about:nth-of-type(odd) .left_col{
  order: 2;
}
.about:nth-of-type(odd) .right_col{
  order: 1;
}
.about:nth-of-type(odd) .about_details{
  padding-left: 0px;
}


/* Code is for swithiching order not for responsive  */
@media screen and (max-width:768px){
  .about:nth-of-type(odd) .left_col{
      order: 1;
  }
  .about:nth-of-type(odd) .right_col{
      order: 2;
  }
  .about_details{
      padding-left: 0px !important;
  }
}



/* Code is for swithiching order not for responsive  */




.about_list h5{
  margin-top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #25306C;
}



.about_details{
  padding-top: 20px;
  padding-bottom: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #25306C;
  opacity: 0.6;
}

.about_details .details{
  margin-top: 20px;
  max-width: 595px;
  width: 100%;
}




/* Akline info 2 */
#alkaline_info2 h1{
  max-width: 745px;
  width: 100%;
  margin: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 68px;
  text-align: center;
  color: #89CFF0;
}

#alkaline_info2  .info_content .info_img img{
  height: 75%;
}


#alkaline_info2 .info_left{
  max-width: 1076px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
#alkaline_info2 .info_left{
  display: flex;
}

#alkaline_info2 .info_left .info_passage{
  max-width: 365px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #25306C;
  opacity: 0.6;
  margin: auto;
  padding: 0px 20px;


}


#alkaline_info2 .info_left .info_list{
  max-width: 416px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #25306C;
  opacity: 0.6;
  padding: 0px 0px;
  margin: auto;

}

#alkaline_info2 .info_left .info_list ol{
  list-style: disc;

}
#alkaline_info2 .info_left h3{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #25306C;
  margin-bottom: 16px;
  opacity: 1;

}

/* Video section  */
#video .video_heading{
  max-width: 745px;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

#video h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  text-align: center;
  color: #89CFF0;

}

#video .video_heading p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #25306C;
}

.video_imbedor{
  max-width: 1296px;
  position: relative;
  height: 720px;
  width: 100%;
  margin: auto;
  border-radius: 12px;
}
.video_imbedor iframe{
  border-radius: 60px;
}

#our_brands{
  margin-top: 24px;
}


#our_brands h1{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

/* logo-color */

color: #25306C;

opacity: 0.4;
margin-bottom: 27px;
}

#our_brands .slick-slide img{
  margin: auto;
}
/* .brand_slider .slick-list{
  width: 700px;
  margin: auto !important;
} */













