@media screen and (max-width: 1600px){
.hero_social{
    display: none !important;
}
}


@media screen and (max-width: 1200px){
    .about_topics{
        margin-bottom: 20px;
    }
    
    }



/* Laptopn screen  */
@media only screen and (max-width: 1366px) and (min-width: 992px){

    .heading_1{
    font-size: 30px !important;
    }
    .heading_2{
    font-size: 18px !important;
    }
    .heading_3{
    font-size: 14px !important;
    }
    .heading_4{
    font-size: 18px !important;    
    }
    h5.custom_heading{
        font-size: 20px !important;

    }

    p{
        font-size: 14px !important;
    }

    a{
        font-size: 14px !important;
    }

     /* hero section  */
    #hero .slider_content h1{
        font-size: 60px;
        max-width: 850px;
        line-height: 100px;
    
    }

 


    /* ABout section  */
    .about_topics{
        height: 320px !important;
        overflow: hidden;
    }
    .about_overlay{
        /* display: none; */
    }
    #about .about_topics h3{
        font-size: 30px;
        line-height: 50px;
    }

    

    /* Product page */
    .product_page .products_img {
        min-height: 400px !important;
    }

    .video_imbedor{
        height: 400px !important;
    }

    .loading{
        font-size: 40px;
    }


}


@media screen and (max-width:992px){

    

    .gap{
        height: 30px;
    }
    .loading{
        font-size: 30px;
    }
    .heading_1{
        font-size: 24px !important;
        }
        .heading_2{
        font-size: 20px !important;
        }
        .heading_3{
        font-size: 12px !important;
        }
        .heading_4{
        font-size: 16px !important;    
        }
        h5.custom_heading{
            font-size: 16px !important;
        
        }
        p{
            font-size: 14px !important;
        }
        a{
            font-size: 12px !important;
        }


            /* hero section */

        #hero .slider_content h1{
            font-size: 40px;
            max-width: 650px;
            line-height: 60px;
        
        }


        /* ABout section  */
        .about_topics{
            height: 280px !important;
            overflow: hidden;
        }
        .about_overlay{
            /* display: none; */
        }
        #about .about_topics h3{
            font-size: 18px;
            line-height: 30px;
        }

        #our_clients .client_slider img{
            height:50px;
        }

        /* Product page */
        .product_page .products_img {
            min-height: 362px !important;
        }


        .video_imbedor{
            height: 350px !important;
        }

        
      .footer_left{
        margin: auto;
        text-align: center;
        margin-bottom: 40px;
    }
    .products_img {
        min-height: 330px !important;
    }
    

}



@media screen and (max-width:768px){
    .gap_96{
        height: 32px;
    }
    .gap_40{
        height: 20px;
    }
    .gap_64{
        height: 32px;
    }
    .first_content {
        padding-top: 70px !important;
    }
    .loading{
        font-size: 20px;
    }
    /* hero section  */
    #hero .slider_content{
        min-height: 70vh;
    }
     
    #hero .slider_content h1{
        font-size: 30px;
        line-height: 50px;
    }

    #hero  .slick-dots{
        display: none !important;
    }


    #products .products_left h2{
        font-size: 15px;
    }

    /* Product section  */

    #products .products_left p{
        margin-bottom: 24px;
    }

    .product_info{
        margin-bottom: 25px;
    }
    .filter_group{
        margin-bottom: 16px !important;
    }

    .btn-light{
        background: rgba(137, 207, 240, 0.5);
        font-weight: bold;
      }


    .btn-know{
        margin-bottom: 40px;
    }
    .price{
        margin-bottom: 10px;
    }
    .price h3{
        font-size: 14px !important;
    }
    .products_house {
        height: auto;
        overflow: unset;
    }

    #alkaline_info .info_left{
        display: block;
    }
    #alkaline_info .info_left .info_passage{
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .alkalaine_bg{
        min-height: 400px;
    }

    /* ABout section  */

    #about h1{
        margin-bottom: 10px;
    }
    

    #alkaline_info2 .info_left {
        display: inline-grid;
        margin: auto;
    }
    #alkaline_info2 .info_left .info_passage{
        max-width: unset;
    }
    #alkaline_info2 .info_left .info_list{
        max-width: unset;
        padding: 0px 20px;
    }

    #alkaline_info2 .info_img {
        text-align: center;
    }
    #alkaline_info2 .nctb{
        text-align: center;
    }
    #alkaline_info2 h1{
        line-height: 100%;
    font-size: 20px !important;
    margin-bottom: 30px;
    }
    #alkaline_info2 .info_content .info_img img{
        height: 300px;
    }


    #our_clients h1{
        margin-bottom: 10px;
    }

    #our_clients .client_slider{
        padding: 18px 0px;

      }

    /* Contact page  */

    #our_brands .slick-slide img {
        margin: auto;
        height: 31px;
    }

    .client_slider img{
        height: 60px;
    }


    .contact_el{
        padding: 30px;
      }

      #footer .mini_footer_part{
          margin-bottom: 20px;
        
      }

      .secondary_heading h1{
          font-size: 30px;
      }
      #privacy .secondary_heading h1{
          font-size: 26px;
          line-height: 32px;
      }
      .privacy_el h2{
          font-size: 22px;
          line-height: 40px;
      }


      #contact_form label{
          font-size: 16px;
      }
      #contact_form input{
          padding: 10px 25px;
          margin-bottom: 15px;
      }
      #contact_form select {
        padding: 10px 25px;
        margin-bottom: 15px;
    }



      .change_nav{
        background-color: white !important;
      }

      .right_nav{
        margin-left: 14px;
        margin-bottom: 15px;
      }


      #products .col-12{
          margin-bottom: 15px !important;
      }
      .products_img{
          min-height: 330px !important;
      }
      #alkaline_info h1{
          line-height: 100%;
          font-size: 20px !important;
          margin-bottom: 10px;

      }

      #contact_form button {
        border-radius: 12px !important;
        padding: 12px 51px !important;
        width: 100% !important;
    }

    #video .video_heading{
        margin-bottom: 20px;
    }

    .video_imbedor iframe {
        border-radius: 12px;
    }

    .banner_img{
        min-height: 300px;
    }
    .banner_content{
        padding-top: 70px;
    }

    .modal-content img{
        width: 100%;

    }
    .modal-content {
        padding: 10px;
    }
    .modal-body .product_info {
        padding: 15px 5px;
        margin-bottom: 0px;
    }

    .quantity_price span{
        font-size: 23px;
    }

    .bold_heading{
        font-size: 20px;
    }
    .message_el h5{
        font-size: 16px;
    }
    .message_el{
        padding: 0px 12px;
    }
    .btn-primary{
        font-size: 14px;
    }
    .message_el svg{
        height: 60px;
    }
    .cart_panel .heading_title{
        padding-left: 10px;
    }
    .cart_heading{
        justify-content: space-between;
        padding: 0px 10px;
    }
    .cart_heading h3{
        font-size: 18px;
    }
    .custom .btn-primary{
        border-radius: 8px;
    }

    .modal-content img{
        max-width: 100%;
        height: 140px;
    }
    .filter_group a {
        margin-bottom: 5px;
    }

    .modal-content .price {
        margin-bottom: 8px;
        margin-top: 0px;
    }
    .about_product {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .modal-content .heading_2 {
        font-size: 16px !important;
    }
    .custom img{
        height: 36px;
      }
      .cart_body{
          top: 69px !important;
      }
      .product_img img{
          margin: auto;
      }
      #privacy .nav-item button{
          margin-bottom: 5px;
      }
      .tab-content .secondary_heading{
          margin-bottom: 26px;
          margin-left: 0px;
      }
      .tab-content .secondary_heading h1{
          text-align: left;
      }
      .tab-content .secondary_heading p{
          text-align: left;
      }
      .tab-content .first_content{
          padding-top: 20px !important;
      }
      #privacy .nav {
        width: 100%;
    }

    .sub_nav{
        top: 69px;
    }
    .profile .btn{
        margin-top: 32px;
    }

    .profile .account{
        margin: auto;
    }
    .account h3{
        text-align: center;
    }

    .addresses{
        margin-top: 64px;
    }
    .addresses h3{
        text-align: center;
    }

    .ordered_info .price{
        margin-top: 20px;
    }
    .ordered_info{
        margin-top: 20px;
    }
    .ordered_product .heading_title{
        margin-top: 20px;
    }
    
}




@media screen and (max-width:556px){
    .m2.mini_footer_part{
        text-align: right;
    }

    .m3.mini_footer_part{
        text-align: center;
    }

    .carted_product {
        width: 95%;
        margin: auto;
    }
    
    .cart_panel .quantity_price span{
        font-size: 14px;
    }

    .carted svg{
        margin-right: 5px;
        height: 15px;
        width: 15px;
      }
      .cart_panel .heading_title{
        padding-left: 5px;
    }
    .cart_panel .product_img img {
        max-width: 60px;
        margin-right: 5px;
    }
    .carted{
        width: 95%;
    }
    .cart_panel .quantity{
        padding: 0px;
    }
    .checkout button{
        padding: 8px 25px;
    }
    

    .about_overlay p{
        font-size: 12px;
        line-height: 15px;
    }
    .about_overlay{
        padding: 0px 5px;
    }


    .ordered_product {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .ordered_info {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}